body{
    background-color: #ddd;
}
.navbar{
    border-top: 3px red solid;
    padding-left: 130px;
    height: 60px;
    padding-top: 3px;
    color: #FF4518;
    font-size: 14px; /*d1e290   d5e29b*/
    background-color:#d5e29b;
}
.titleimage{
    float: left;
    margin-top: -15px;
}
.titleAmar{
    font-size: 22px;
    color: #0c8b22;
    font-weight: bold ;
}
.titleProshno{
    font-weight: bold ;
    color: #c51c32;
    font-size: 24px;
}
.usersprofile{
    margin-left: 100px;
    height: 50px;
}
.usersprofile:hover{
    background-color: #eee;
}
.userImage{
    height: 40px;
    width: 40px;
    line-height: 50px;
    margin-top: 5px;
    float: left;
}
.usersName{
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    color: #3537d9;
    font-weight: bold;
    font-size: 15px;
    float: left;
}
.logOut{
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    color:blue;
    font-size: 13px;
    font-weight: bold;
}
.logOut:hover{
    color: #ff2620;
}

/*main body content*/
.mainContent{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color:#f4f4f4;
}

.profileImage{
    height: 300px;
    width: 195px;
    float: left;
}
.imgBorder{
    padding-left: 20px;
    padding-top: 20px;
    height: 205px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EEEEEE;
}
.imgSize{
    box-shadow: 1px 3px 8px 0px #666;
}
.editPro{
    width: 100px;
    margin-top: 10px;
}
.btnnnnnn{
    margin-left: 20px;
    width: 152px;
}

.profileDetails{
    width: 840px;
    height: auto;
    margin-left: 15px;
    float: left;
    border: 1px solid #ddd;
    margin-top: 0px;
}
.titleName{
    font-size: 15px;
    float: left;
}
.ValueOfDB{
    float: left;
}
.trrr{
    width: 200px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #1e538a;
}
.tddd{
    width: 600px;
    color: #1e538a;
    font-size: 16px ;
}

.EditProfiles{
    width: 810px;
    height: auto;
    margin-left: 10px;
    float: left;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.Edit_table{
    height: auto;
    width: 760px;
    margin: auto;
    background-color: lavender;

}
.Edittrrr{
    width: 200px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #1e538a;
}
.Edittddd{
    width: 600px;
    color: #1e538a;
    font-size: 16px ;
}

.inputBox{

}


/*Footer*/
.MainFooter{
    background-color: #063344;
    height: 50px;
    border-top: 3px solid #000;
    width: 100%;
}
.Footer{
    text-align: center;
    width: 90%;
    padding-top: 10px;
    color: #ccc;
}
