body{
    background-color: #ddd;
}
.navbar{
    border-top: 3px red solid;
    padding-left: 120px;
    height: 60px;
    padding-top: 3px;
    color: #FF4518;
    font-size: 14px; /*d1e290   d5e29b*/
    background-color:#d5e29b;
}
.titleimage{
    float: left;
    margin-top: -15px;
}
.usersprofile{
    margin-left: 100px;
    height: 50px;
}
.usersprofile:hover{
    background-color: #eee;
}
.usersImage{
    height: 40px;
    width: 40px;
    line-height: 50px;
    margin-top: 5px;
    float: left;
}
.usersN{
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    color: #3537d9;
    font-weight: bold;
    font-size: 15px;
    float: left;
}
.logOut{
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    color:blue;
    font-weight: bold;
    font-size: 13px;
}
.logOut:hover{
    color: #ff2620;
}
/* Main Content*/
.mainContent{
    width: 95%;
    height: 1000px;
    margin: auto;
    margin-top: 60px;
    background-color:#f4f4f4;
}

.AskQue{
    width: 99%;
    height: 50px;
    text-align: center;
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    line-height: 50px;
    color: #43a1d9;
    font-weight:bold ;
}
.leftContent{
    width: 73%;
    height: 700px;
    float: left;
    margin-top: 20px;
}
.Quetable{
    height: 600px;
    width:785px;
    float: left;
    margin-top: 20px;
}
.queInputBox{
    height: 50px;
    width: 700px;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
.textArea{
    height: 200px;
    width: 700px;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.areaBox{
    height: 200px;
}
.button{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}
/*right Content*/

.rightContent{
    width: 25%;
    height: auto;
    float: right;
    margin-top: 20px;
}
.askQue{
    width: 100%;
    height: 50px;
}
.AskBtn{
    height: 50px;
    padding-top: 0px;
    line-height: 50px;
    text-align: right;

}

.btnnn:hover{
    background-color: #37a685;
    color: #fff;
}


.lastTopTenQue{
    height: auto;
    width: 100%;
    margin-top: 0px;
}
.titleTopten{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color:#dd2647;
    border-radius:5px ;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.TopQueTen{
    height: auto;
    width: 100%;
    margin-top: 0px;
    border-right: 1px solid #b1d0d9;
    border-left: 1px solid #b1d0d9;
    padding-top: 10px;
}
.TenQue{
    height: auto;
    border-bottom: 1px solid #999;
    font-size: 13px;
    color: #1b79a6;
    height: 30px;
}

.lastAddTenQue{
    height: auto;
    width: 100%;
    margin-top: 15px;
}
.titleAddten{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color:#b0dd89;
    border-radius:5px ;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.AddQueTen{
    height: auto;
    width: 100%;
    margin-top: 0px;
    border-right: 1px solid #b1d0d9;
    border-left: 1px solid #b1d0d9;
    border-radius:5px;
    padding-top: 10px;
}
.AddLastQue{
    height: auto;
    border-bottom: 1px solid #999;
    font-size: 13px;
    color: #1b79a6;
    height: 30px;
}

/*Footer*/
.MainFooter{
    background-color: #063344;
    height: 50px;
    border-top: 3px solid #000;
    width: 100%;
}
.Footer{
    text-align: center;
    width: 90%;
    padding-top: 10px;
    color: #ccc;
}