body{
    background-color: #ddd;
}
.navbar{
    border-top: 3px red solid;
    padding-left: 120px;
    height: 60px;
    padding-top: 3px;
    color: #FF4518;
    font-size: 14px; /*d1e290   d5e29b*/
    background-color:#d5e29b;
}
.titleimage{
    float: left;
    margin-top: -15px;
}
.titleAmar{
    font-size: 22px;
    color: #0c8b22;
    font-weight: bold ;
}
.titleProshno{
    font-weight: bold ;
    color: #c51c32;
    font-size: 24px;
}
.login{
    color: blue;
    font-weight: bold;
}
.btnstyle{
    margin-top: -7px;
}

.usersprofile{
    margin-left: 100px;
    height: 50px;
}
.usersprofile:hover{
    background-color: #eee;
}
.userImage{
    height: 40px;
    width: 40px;
    line-height: 50px;
    margin-top: 5px;
    float: left;
}
.usersName{
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    color: #3537d9;
    font-weight: bold;
    font-size: 15px;
    float: left;
}
.logOut{
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    color:dodgerblue;
    font-size: 13px;
}
.logOut:hover{
    color: #ff2620;
}

/*main body content*/
.mainContent{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    background-color:#f4f4f4;
}

/*all que title*/
.allQue{
    width: 99%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 50px;
    font-weight:bold ;
}
/*left content*/
.leftContent{
    width: 73%;
    height: auto;
    float: left;
    margin-top: 30px;
}

/*Que all*/
.Quetable{
    height: auto;
    width:760px;
    float: left;
    border-bottom: 1px solid #EF5350;
}
.ImageBox{
    text-align: center;
    width: 80px;
    height:auto;
    line-height: 115px;
    float: left;
}
.usersName{
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: #000;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    font-weight: bold;
    float: left;
}
.usersImage{
    height: 65px;
    width:65px;
}
.QueBox{
    margin-top: 0px;
}
.QueTitle{
    width: 660px;
    height: auto;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-top: -20px;
    font-size: 16px;
    color: royalblue;
}
.DisBox{
    width: 660px;
    height: auto;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: -10px;
    font-size: 15px;
    color: #666;
}
.quedis{

}




/*Que all*/
.answerTitle{
    width: 99%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 50px;
    color: #2cbb31;
    font-weight:bold ;
    margin-top: 20px;
}
.Anstable{
    height: auto;
    width:760px;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
}

.ImageBox{
    text-align: center;
    width: 90px;
    height:115px;
    line-height: 115px;
    float: left;
}
.usersImage{
    height: 75px;
    width:70px;
}
.AnsDisBox{
    width: 660px;
    height: auto;
    float: right;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #666;
}
.quedis{
    margin-top: 20px;
}

/*Ans Box*/
.GiveAns{
    width: 99%;
    height: 50px;
    text-align: center;
    float: left;
    border-bottom: 1px solid #ef6c00;
    font-size: 18px;
    line-height: 50px;
    color: #36bb88;
    font-weight:bold ;
    text-align: left;
    margin-top: 30px;
}
.Answerstable{
    height: 400px;
    width:785px;
    float: left;
    margin-top: 5px;
}
.InputBox{
    height: 50px;
    width: 700px;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}
.textArea{
    height: 150px;
    width: 700px;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.areaBox{
    height: 200px;
}
.button{
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}


/*right Content*/

.rightContent{
    width: 25%;
    height: auto;
    float: right;
    margin-top: 30px;
}
.askQue{
    width: 100%;
    height: 50px;
}
.AskBtn{
    height: 50px;
    padding-top: 0px;
    line-height: 50px;
    text-align: right;

}

.btnnn:hover{
    background-color: #37a685;
    color: #fff;
}


.lastTopTenQue{
    height: auto;
    width: 100%;
    margin-top: 0px;
}
.titleTopten{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color:#dd2647;
    border-radius:5px ;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.TopQueTen{
    height: auto;
    width: 100%;
    margin-top: 0px;
    border-right: 1px solid #b1d0d9;
    border-left: 1px solid #b1d0d9;
    padding-top: 10px;
}
.TenQue{
    height: auto;
    border-bottom: 1px solid #999;
    font-size: 13px;
    color: #1b79a6;
    height: 30px;
}

.lastAddTenQue{
    height: auto;
    width: 100%;
    margin-top: 15px;
}
.titleAddten{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color:#b0dd89;
    border-radius:5px ;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.AddQueTen{
    height: auto;
    width: 100%;
    margin-top: 0px;
    border-right: 1px solid #b1d0d9;
    border-left: 1px solid #b1d0d9;
    border-radius:5px;
    padding-top: 10px;
}
.AddLastQue{
    height: auto;
    border-bottom: 1px solid #999;
    font-size: 13px;
    color: #1b79a6;
    height: 30px;
}
/*Footer*/
.MainFooter{
    background-color: #063344;
    height: 50px;
    border-top: 3px solid #000;
    width: 100%;
}
.Footer{
    text-align: center;
    width: 90%;
    padding-top: 10px;
    color: #ccc;
}
