body{
    background-color: #f4f4f4;
}
.singUp{
    margin-left: 0px;
}
.login{
    color: blue;
    font-weight: bold;
}
.btnstyle{
    margin-top: -7px;
}

.logSign{
    width: 94%;
    margin: auto;
    height: 50px;
    margin-top: 90px;

}
.logSign ul{
    border-bottom: 1px solid #e4e4e4;
    height: 32px;
    padding-left: 0px;
}
.logSign ul li{
    list-style: none;
    display: inline;
}
.logSign ul li a{
    text-decoration: none;
    padding: 13px;
    font-size: 13px;
    color: #999;
}
.logSign ul li a:hover{
    border-bottom: 2px solid #fff;
    background-color: #f2f2f2;
    color: #000;
}
ul#select li a.active{
    background-color:#f2f2f2;
    color:#000;
}

ul#select li a:focus{
    background-color:#f2f2f2;
    color:#000;
}

.CreateTitle{
    text-align: center;
    margin: auto;
    width: 95%;
    color: #000;
    font-size: 20px;
}

.signUpForm{
    width: 340px;
    border: 1px solid #ddd;
    margin: auto;
    background-color: #fff;
}
.SignTable{
    width: 270px;
    margin: auto;
}
.btnn{
    text-align: right;
}
.regTxt{
    padding-top: 20px;
    font-size: 13px;
    text-align: center;
    color: #666;
}
.privacy{
    color: #2196F3;
}
.ALreadyLoged{
    border: 1px solid #ddd;
    margin: auto;
    margin-top: 20px;
    width: 340px;
    text-align: center;
    font-size: 13px;
    color: #666;
    background-color: #fff;
}
.AlrdyLog{
    color: #5480FF;
    padding-left: 5px;
}


/*Footer*/
.MainFooter{
    background-color: #063344;
    height: 50px;
    border-top: 3px solid #000;
    width: 100%;
}
.Footer{
    text-align: center;
    width: 90%;
    padding-top: 10px;
    color: #ccc;
}
